# Introduction to Scikit-learn(sklearn)
This notebook denonstrates some of the moset useful functions of Scikit-Learn Library

What we ar going to cover:
0. An en-to-en Scikit-learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm/moel for our problems
3. Fit the model/algorithm/Estimator an use it to make predictions on our data
4. Evaluating a Model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

## 0. An en-to-end Scikit-learn workflow

In [4]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# Create X (feature matrix)
X = heart_disease.drop('target', axis=1)

# Create y (labels)
y = heart_disease['target']

In [7]:
# 2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# we'll keep the default hyperparameters
clf.get_params() #these are randomForest Parameters (clf.get_params)

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3. Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [9]:
clf.fit(X_train, y_train);

In [10]:
# Make a prediction
y_label = clf.predict(np.array[(0,2,3,4)])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [18]:
X_train.shape

(242, 13)

In [19]:
X_test.shape

(61, 13)

In [20]:
y_train.shape

(242,)

In [21]:
y_test.shape

(61,)

In [22]:
heart_disease.shape

(303, 14)

In [23]:
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1], dtype=int64)

In [24]:
y_test

107    1
180    0
163    1
206    0
62     1
      ..
246    0
30     1
98     1
176    0
68     1
Name: target, Length: 61, dtype: int64

In [25]:
#4. Evaluate the model
clf.score(X_train,y_train)

1.0

In [26]:
clf.score(X_test, y_test)

0.8032786885245902

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.72      0.78      0.75        23
           1       0.86      0.82      0.84        38

    accuracy                           0.80        61
   macro avg       0.79      0.80      0.79        61
weighted avg       0.81      0.80      0.80        61

In [28]:
confusion_matrix(y_test, y_preds)

array([[18,  5],
       [ 7, 31]], dtype=int64)

In [29]:
accuracy_score(y_test, y_preds)

0.8032786885245902

In [30]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 70, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print ("")

Trying model with 10 estimators...
Model accuracy on test set: 78.69%

Trying model with 20 estimators...
Model accuracy on test set: 80.33%

Trying model with 30 estimators...
Model accuracy on test set: 75.41%

Trying model with 40 estimators...
Model accuracy on test set: 77.05%

Trying model with 50 estimators...
Model accuracy on test set: 85.25%

Trying model with 60 estimators...
Model accuracy on test set: 85.25%

In [31]:
# 6. Save a model and load it
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl","wb"))

In [32]:
loaded_model = pickle.load(open('random_forest_model_1.pkl',"rb"))
loaded_model.score(X_test, y_test)

0.8524590163934426

In [33]:
import sklearn
sklearn.__version__ , sklearn.show_versions()

System:
    python: 3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\Admin\anaconda3\python.exe
   machine: Windows-10-10.0.19045-SP0

Python dependencies:
      sklearn: 1.2.1
          pip: 22.3.1
   setuptools: 65.6.3
        numpy: 1.23.5
        scipy: 1.10.0
       Cython: None
       pandas: 1.5.3
   matplotlib: 3.7.0
       joblib: 1.1.1
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: C:\Users\Admin\anaconda3\Library\bin\mkl_rt.1.dll
         prefix: mkl_rt
       user_api: blas
   internal_api: mkl
        version: 2021.4-Product
    num_threads: 2
threading_layer: intel

       filepath: C:\Users\Admin\anaconda3\vcomp140.dll
         prefix: vcomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 4

('1.2.1', None)

## 1. Getting pur data ready to be used with machine learning

Three main things we have to do
1. split the data into features and labels(usually `X` & `Y`)
2. Filling (also called imputing) or disregarding missing values
3. Converting non-numerical values to numerical values (also called feature encoding)

In [34]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [35]:
X = heart_disease.drop('target', axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [36]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [37]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [38]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [39]:
X.shape[0]*0.8

242.4

In [40]:
len(heart_disease)

303

### 1.1 Makesure it's all numerical

In [41]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [42]:
car_sales['Doors'].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [43]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [44]:
len(car_sales)

1000

In [45]:
# Split the data into X/Y
X= car_sales.drop('Price', axis=1)
y= car_sales['Price']

# Split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [46]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(x_test, y_test)

ValueError: could not convert string to float: 'Toyota'

In [47]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorial_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one-hot',
                                 one_hot,
                                 categorial_features)],
                               remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [48]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [49]:
dummies = pd.get_dummies(car_sales[['Make', 'Colour', 'Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [50]:
# Let's refit the model
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X,y,test_size=0.2)
model.fit(X_train, y_train);

In [51]:
model.score(X_test, y_test)

0.3235867221569877

### What if thre wer missing values
1. Fill them with some values(also know as imputation)
2. Remove the samples with missing ata altogether
3.

In [52]:
# Import car sales missing data
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [53]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [54]:
# Create X and y
X= car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

In [55]:
# lets's try and convert our data to numbers
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
tranformer = ColumnTransformer([('one_hot',
                                one_hot,
                                categorical_features)],
                              remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [56]:
print(car_sales_missing.to_string())

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
5     Honda    Red        42652.0    4.0  23883.0
6    Toyota   Blue       163453.0    4.0   8473.0
7     Honda  White            NaN    4.0  20306.0
8       NaN  White       130538.0    4.0   9374.0
9     Honda   Blue        51029.0    4.0  26683.0
10   Nissan  White       167421.0    4.0  16259.0
11   Nissan  Green        17119.0    4.0   6160.0
12   Nissan  White       102303.0    4.0  16909.0
13      NaN  White       134181.0    4.0  11121.0
14    Honda   Blue       199833.0    4.0  18946.0
15   Toyota   Blue       205592.0    4.0  16290.0
16   Toyota    Red        96742.0    4.0  34465.0
17      BMW  White       194189.0    5.0  17177.0
18   Nissan  White        67991.0    3.0   9109.0
19   Nissan   Blue       215820.0    4.0   6010.0
20   Toyota    NaN       124844.0    4.0  24130.0
21    Honda    NaN        30615.0    4.0  29653.0
22   Toyota  White       148744.0    4.0  22489.0
23    Honda  Green       130075.0    4.0  21242.0
24    Honda   Blue       172718.0    4.0  14274.0
25    Honda   Blue       125819.0    4.0  15686.0
26    Honda  White       180390.0    4.0  13344.0
27    Honda  Green        82783.0    4.0  10984.0
28    Honda  White        56687.0    4.0   6135.0
29   Toyota  White       112004.0    4.0  13586.0
30   Nissan   Blue        34024.0    4.0  23929.0
31   Toyota  White       108569.0    NaN   6866.0
32   Nissan  White       203795.0    4.0   9330.0
33   Nissan  Green       153554.0    3.0   9780.0
34    Honda   Blue        71949.0    4.0  17516.0
35    Honda   Blue       191622.0    4.0   8738.0
36   Nissan   Blue        38186.0    4.0  23438.0
37   Nissan  White            NaN    4.0  15131.0
38   Nissan   Blue       146430.0    3.0   9224.0
39   Toyota  Green       109868.0    4.0   6574.0
40      NaN  White       177894.0    4.0   9229.0
41   Toyota   Blue       189209.0    4.0   7100.0
42    Honda  Black       200490.0    4.0   6337.0
43   Toyota   Blue       141617.0    4.0  19085.0
44   Toyota   Blue       213893.0    4.0   5743.0
45   Nissan   Blue       231057.0    4.0   5925.0
46   Toyota  White       100938.0    4.0  25196.0
47   Toyota   Blue       243969.0    NaN  16138.0
48   Nissan  White       107096.0    3.0   6075.0
49   Toyota  Black        86333.0    4.0   9928.0
50   Toyota    Red       184878.0    4.0   7445.0
51    Honda  White       161068.0    NaN  13698.0
52   Toyota   Blue        77646.0    4.0  17422.0
53   Toyota   Blue       246817.0    4.0   8269.0
54      NaN  White       109384.0    4.0   9918.0
55      BMW  White        79937.0    5.0  48686.0
56    Honda  White        82039.0    4.0  15662.0
57      BMW    Red       162176.0    5.0  19186.0
58   Toyota    NaN        97375.0    4.0  11479.0
59   Toyota   Blue       230908.0    4.0  12883.0
60      BMW    Red       208124.0    5.0  24668.0
61    Honda  Black        16933.0    4.0  12172.0
62    Honda  Green        57198.0    4.0  25068.0
63    Honda  Green        47019.0    4.0  20370.0
64   Toyota  White       170085.0    4.0   5383.0
65      BMW  White       178796.0    5.0  18396.0
66   Toyota   Blue       223390.0    4.0   9648.0
67   Toyota  Black        93054.0    4.0   6652.0
68   Toyota   Blue        42459.0    4.0   6386.0
69      BMW  White        37513.0    5.0  32379.0
70   Nissan  White       123121.0    4.0  22436.0
71   Toyota    NaN       204213.0    4.0   6860.0
72    Honda  White            NaN    4.0   5648.0
73      NaN    Red       227262.0    4.0  12001.0
74   Toyota   Blue       191232.0    4.0  18355.0
75   Toyota   Blue       156478.0    NaN  20424.0
76   Toyota   Blue       140465.0    4.0  15154.0
77      NaN  White       126669.0    4.0  18484.0
78   Toyota   Blue       238425.0    4.0   6502.0
79    Honda   Blue       186146.0    4.0  18310.0
80    Honda  Black       149879.0    4.0   8200.0
81   Toyota   Blue        34097.0    4.0  20142.0
82   Nissan   Blue       180021.0    3.0  13199.0
83   Toyota   Blue       248447.0    4.0   5708.0
84   Toyota  Green        61651.0    4.0  13430.0
85   Nissan   Blue        24219.0    3.0  10283.0
86   Nissan   Blue            NaN    4.0   3300.0
87    Honda    NaN       108415.0    4.0  20936.0
88   Nissan    Red        61892.0    NaN  18160.0
89      NaN   Blue        90249.0    4.0  35988.0
90   Nissan  White       197844.0    4.0   5776.0
91   Toyota  White        53765.0    4.0  18595.0
92    Honda  White       115183.0    4.0   6481.0
93    Honda  White       130783.0    4.0   6283.0
94    Honda  Green       130076.0    4.0   6762.0
95    Honda   Blue       143707.0    4.0  16337.0
96   Toyota   Blue        29856.0    4.0  11392.0
97   Toyota  Black       133433.0    4.0  16519.0
98   Toyota    Red       147455.0    4.0  22296.0
99    Honda    NaN        48069.0    4.0  12196.0
100   Honda   Blue       146233.0    4.0  14202.0
101  Toyota  White       224657.0    4.0  13250.0
102   Honda    NaN       150582.0    NaN   7404.0
103   Honda  White       195787.0    4.0   5316.0
104   Honda  White        71329.0    4.0  10125.0
105   Honda   Blue       229206.0    4.0  13614.0
106  Toyota    NaN       218803.0    4.0  13283.0
107   Honda  White       184869.0    4.0  11584.0
108  Nissan   Blue       129769.0    3.0  15617.0
109   Honda   Blue       219217.0    4.0   4747.0
110  Toyota  White       221050.0    4.0   6391.0
111  Nissan  White        82726.0    4.0  17802.0
112  Nissan  White        72122.0    4.0  22943.0
113  Nissan   Blue        43149.0    4.0  19502.0
114  Nissan  White        24077.0    4.0  15541.0
115  Toyota  Black        20714.0    4.0  30407.0
116  Toyota  Black        26979.0    4.0  35432.0
117  Nissan  White       223889.0    4.0  10091.0
118  Nissan   Blue       166938.0    4.0  11485.0
119     BMW  White        18394.0    5.0      NaN
120  Nissan  White       212081.0    3.0  11192.0
121  Nissan    NaN       206073.0    NaN   3944.0
122     NaN   Blue       174008.0    4.0  19000.0
123     NaN  White       138274.0    4.0   7994.0
124  Nissan  Black        67364.0    NaN  15604.0
125     NaN   Blue        83784.0    4.0  11648.0
126  Toyota  White        71805.0    4.0  35600.0
127     BMW    Red        35807.0    5.0  17596.0
128  Nissan  White       175777.0    4.0  13427.0
129  Toyota  White            NaN    4.0  35358.0
130  Nissan    NaN        18994.0    4.0   7813.0
131  Toyota    Red        29689.0    4.0   8743.0
132  Toyota  White       109013.0    4.0  10628.0
133   Honda  Green       125802.0    4.0   4754.0
134  Toyota  White        22788.0    4.0   6784.0
135   Honda   Blue        43981.0    4.0  17584.0
136  Toyota  White       132055.0    4.0  10582.0
137   Honda   Blue        31677.0    4.0  21754.0
138  Toyota    Red       133195.0    4.0  14795.0
139   Honda   Blue       137233.0    4.0   8809.0
140  Nissan   Blue       179666.0    4.0  19258.0
141  Toyota  White            NaN    4.0  34133.0
142   Honda  White        21393.0    4.0  20490.0
143  Nissan   Blue        41554.0    4.0  31536.0
144     BMW   Blue            NaN    5.0  30412.0
145  Nissan  White       123923.0    4.0  14986.0
146     BMW  White       148949.0    3.0  23074.0
147  Toyota   Blue       103909.0    4.0   4566.0
148  Toyota  White        50604.0    4.0  10038.0
149  Toyota  Green       168432.0    4.0  20497.0
150  Nissan  White       129188.0    4.0   8071.0
151   Honda    Red       223416.0    4.0  10707.0
152  Toyota  White        66538.0    4.0      NaN
153  Nissan  Green       149042.0    3.0  10835.0
154  Nissan  White       149347.0    3.0   5332.0
155     BMW  White        39267.0    5.0  19106.0
156     NaN  White       150826.0    4.0  12392.0
157  Toyota  Black       147540.0    4.0  20155.0
158  Toyota  Green       218482.0    4.0  10198.0
159   Honda  White       202855.0    4.0   8260.0
160   Honda    NaN       213793.0    4.0  12402.0
161     BMW   Blue        86805.0    5.0  34110.0
162   Honda  White       100527.0    4.0  22616.0
163   Honda   Blue        37678.0    4.0   6361.0
164  Nissan  White       215169.0    4.0  14793.0
165  Nissan   Blue       211249.0    4.0  15767.0
166   Honda   Blue        96389.0    4.0   7861.0
167   Honda   Blue        50417.0    4.0  25847.0
168  Nissan   Blue       178405.0    NaN   8693.0
169  Nissan   Blue       163423.0    4.0   7193.0
170  Toyota   Blue        63975.0    4.0  21851.0
171  Toyota  White        97036.0    4.0      NaN
172   Honda   Blue        54380.0    4.0  20282.0
173  Nissan  Black       240536.0    4.0   3247.0
174  Toyota  White       188755.0    4.0  17980.0
175  Toyota   Blue        51155.0    4.0  15960.0
176  Toyota   Blue        94916.0    4.0      NaN
177  Toyota   Blue        38544.0    4.0  34286.0
178   Honda  White            NaN    4.0  10076.0
179     BMW  Black       158339.0    5.0  23287.0
180  Toyota    Red        33400.0    4.0  12398.0
181  Nissan  White       118470.0    3.0  20075.0
182  Toyota   Blue        89501.0    4.0  12218.0
183  Toyota  White        87594.0    4.0  20100.0
184  Nissan  Green        32754.0    4.0  13146.0
185  Nissan    Red       191810.0    3.0  14189.0
186   Honda  Black        61749.0    4.0   9290.0
187  Toyota   Blue       237190.0    4.0   7800.0
188   Honda  White       166028.0    4.0  13056.0
189     BMW    NaN       126441.0    5.0  39738.0
190  Toyota  Green        58118.0    4.0   6848.0
191   Honda    NaN        76343.0    4.0   7097.0
192  Toyota  White       188338.0    4.0  13106.0
193  Toyota  Black        40285.0    4.0   7846.0
194   Honda  White        74192.0    4.0   8706.0
195  Toyota  Green       172401.0    NaN   5454.0
196   Honda   Blue        78153.0    4.0  10316.0
197  Toyota  Green       146940.0    4.0  25133.0
198  Nissan  White       193874.0    4.0  10596.0
199   Honda   Blue       184320.0    4.0   6978.0
200     NaN  White        66461.0    3.0  25873.0
201   Honda    Red        95243.0    4.0  13559.0
202   Honda   Blue        84719.0    4.0  26402.0
203  Toyota   Blue        99761.0    4.0  10547.0
204  Nissan    Red       150563.0    4.0  16115.0
205  Toyota   Blue       154576.0    4.0  12553.0
206   Honda  White       211862.0    4.0  12476.0
207  Nissan  Black       125251.0    4.0  18306.0
208  Toyota   Blue        90856.0    4.0  33077.0
209   Honda  White            NaN    4.0  22746.0
210  Toyota  Black        24764.0    4.0   8856.0
211   Honda  White        43437.0    NaN  28013.0
212   Honda  White        25729.0    4.0   9155.0
213   Honda  Green       238825.0    4.0   9530.0
214     BMW    NaN       206446.0    5.0  19892.0
215     BMW  White            NaN    5.0  38128.0
216   Honda   Blue        42324.0    4.0  12531.0
217  Toyota  White       183368.0    4.0  18198.0
218  Nissan   Blue       141962.0    4.0   5595.0
219  Toyota  Green       214179.0    4.0  12872.0
220     BMW  White       195419.0    5.0  29308.0
221  Nissan   Blue       158730.0    3.0  12104.0
222   Honda  White        28791.0    4.0  19052.0
223  Toyota  White       117504.0    4.0  25874.0
224   Honda   Blue        63825.0    4.0  23339.0
225  Toyota  Green       142598.0    4.0  21830.0
226  Toyota  White        88015.0    4.0  22794.0
227     BMW   Blue        79301.0    5.0  35004.0
228  Toyota    Red       241987.0    4.0   9734.0
229     BMW    Red        39323.0    5.0  18691.0
230  Nissan  White       209259.0    4.0  10823.0
231   Honda    Red       120306.0    4.0  18346.0
232  Toyota   Blue       148421.0    4.0   9953.0
233  Toyota   Blue       225286.0    4.0  12086.0
234   Honda  White       108206.0    4.0  13208.0
235  Toyota  Green            NaN    4.0  19936.0
236   Honda   Blue        61828.0    4.0  27787.0
237   Honda   Blue       173693.0    4.0  11092.0
238     BMW  White       194157.0    NaN  34856.0
239     NaN  Black       224479.0    4.0  10456.0
240   Honda   Blue       232904.0    4.0   7725.0
241  Nissan  White       196374.0    4.0   7032.0
242  Toyota  White        48184.0    4.0  15095.0
243  Nissan  Green       189739.0    4.0  16730.0
244   Honda    Red       164352.0    4.0  14160.0
245   Honda   Blue        26616.0    4.0   9521.0
246  Toyota  White       203804.0    4.0   5273.0
247  Toyota  White        58054.0    4.0  10180.0
248     BMW   Blue        63321.0    3.0  39021.0
249     BMW    Red        33911.0    5.0      NaN
250     BMW  White       173915.0    5.0  14404.0
251  Toyota  Black       217253.0    4.0  16603.0
252   Honda    NaN            NaN    4.0   7076.0
253  Toyota  Black       140756.0    4.0  26954.0
254  Nissan   Blue            NaN    4.0  18182.0
255  Nissan   Blue       124116.0    NaN   5386.0
256     NaN   Blue        65719.0    4.0      NaN
257  Nissan    Red       128235.0    4.0   8327.0
258  Nissan    Red       157169.0    4.0      NaN
259   Honda    Red        61504.0    4.0  12046.0
260  Toyota  White       242084.0    4.0  13111.0
261  Toyota  White        61623.0    4.0  35760.0
262   Honda  Green        46085.0    4.0  29681.0
263   Honda  White        67599.0    NaN  10516.0
264  Toyota  White        59222.0    4.0  32676.0
265     NaN  White       113250.0    4.0   9675.0
266   Honda  Black       237861.0    4.0  10374.0
267   Honda   Blue       136392.0    4.0  12146.0
268     BMW  White        29534.0    5.0  28414.0
269  Nissan  Green       190794.0    3.0  17917.0
270   Honda    NaN       223685.0    4.0   9379.0
271   Honda  White        85975.0    4.0  27640.0
272     BMW  White        23996.0    5.0  48239.0
273  Toyota   Blue        85473.0    4.0  22002.0
274  Toyota  White       236674.0    4.0  15234.0
275  Nissan   Blue       193135.0    3.0  13005.0
276   Honda    NaN            NaN    4.0  28983.0
277     BMW   Blue       245427.0    5.0  17520.0
278   Honda   Blue       106494.0    4.0  17858.0
279  Toyota  White       196840.0    4.0  10646.0
280  Nissan  White       116279.0    4.0  16179.0
281     BMW   Blue            NaN    3.0  16391.0
282   Honda  White       195829.0    4.0  17866.0
283  Toyota   Blue       239004.0    4.0   8566.0
284   Honda    Red       238609.0    4.0   5052.0
285  Toyota  Green        44436.0    4.0  17317.0
286   Honda  White       224292.0    4.0   6431.0
287  Nissan  White        43540.0    NaN   9263.0
288   Honda  Green        37606.0    4.0  13255.0
289  Nissan  White       215130.0    4.0  11768.0
290  Toyota  Black       198564.0    4.0   7708.0
291   Honda    Red        11035.0    4.0  10602.0
292  Toyota    Red       197616.0    4.0  14089.0
293   Honda  White       171260.0    4.0  18524.0
294  Toyota  White        20985.0    4.0  33353.0
295   Honda  White       246079.0    4.0  10872.0
296  Nissan  White       133441.0    4.0  21921.0
297  Toyota    Red       162665.0    4.0   7042.0
298  Toyota   Blue        44815.0    4.0   8460.0
299  Toyota  Black       103472.0    NaN  15184.0
300  Nissan  White       234161.0    4.0  13200.0
301  Toyota   Blue       222542.0    4.0   8834.0
302   Honda   Blue       230570.0    NaN  10676.0
303  Toyota  White       134862.0    4.0  12353.0
304  Toyota  White        55828.0    4.0  23311.0
305   Honda  White        61163.0    4.0  18375.0
306   Honda    Red       108681.0    4.0  10740.0
307  Nissan   Blue       174825.0    3.0   4863.0
308     BMW    NaN       203517.0    5.0  26846.0
309  Toyota  Green       180760.0    4.0  10380.0
310  Toyota   Blue        52054.0    4.0  10888.0
311  Toyota   Blue       118308.0    4.0  20237.0
312  Toyota  White        12141.0    4.0  17556.0
313     BMW    NaN            NaN    5.0  32887.0
314  Nissan   Blue       104355.0    4.0  18058.0
315  Toyota  White       230943.0    4.0  13560.0
316  Toyota  White            NaN    4.0      NaN
317   Honda  White        29514.0    4.0  19357.0
318   Honda  Green        94062.0    4.0  27057.0
319  Nissan  White            NaN    3.0  23868.0
320     NaN   Blue       179468.0    4.0   7813.0
321   Honda    Red       163045.0    4.0  17035.0
322  Toyota   Blue       165301.0    4.0  10429.0
323  Toyota   Blue       161572.0    NaN  15088.0
324  Toyota  Green       151291.0    4.0   6200.0
325  Toyota   Blue       234051.0    NaN  11616.0
326  Toyota   Blue       232912.0    4.0   6029.0
327     BMW   Blue       130817.0    3.0  31392.0
328  Toyota   Blue       135080.0    4.0  13652.0
329  Nissan   Blue       197823.0    3.0  17860.0
330  Toyota    NaN       170466.0    4.0   3974.0
331  Toyota  White       112292.0    4.0  24834.0
332  Nissan   Blue       195494.0    4.0   6460.0
333  Nissan   Blue       111015.0    3.0   7252.0
334   Honda   Blue       247869.0    4.0  11982.0
335  Toyota  Black       188514.0    4.0      NaN
336  Toyota  Green       165225.0    4.0  10841.0
337   Honda  Black       175075.0    4.0      NaN
338   Honda  White       187663.0    4.0  13433.0
339  Toyota    Red        65435.0    4.0  24949.0
340   Honda  White        80664.0    4.0  20981.0
341  Toyota  White       119439.0    4.0  17340.0
342     NaN    Red        97345.0    4.0   6962.0
343   Honda    NaN       144093.0    4.0  17036.0
344     NaN   Blue        73926.0    4.0  29635.0
345  Toyota  White       127161.0    4.0   4871.0
346   Honda  White        40749.0    4.0  25649.0
347  Nissan   Blue       192557.0    4.0   6672.0
348  Toyota  White       117571.0    4.0  23719.0
349     BMW  White       176864.0    5.0  24938.0
350   Honda   Blue       191658.0    4.0  17597.0
351  Toyota  Black       132103.0    NaN  10439.0
352   Honda    Red        47933.0    4.0  10301.0
353  Toyota  White        50756.0    4.0  11738.0
354   Honda   Blue       196835.0    4.0  15623.0
355   Honda   Blue       106744.0    4.0  16223.0
356     NaN   Blue        96363.0    4.0   7469.0
357  Nissan  White            NaN    4.0   3974.0
358     BMW   Blue       103283.0    3.0  22176.0
359  Toyota  White       134415.0    NaN   5125.0
360   Honda  Black       155682.0    NaN   9992.0
361  Toyota  White       164093.0    4.0   3893.0
362  Toyota   Blue       119745.0    4.0  23902.0
363     NaN  Black        13266.0    4.0  14502.0
364   Honda  White       145850.0    4.0  17876.0
365  Nissan  White        24420.0    4.0  14198.0
366   Honda  White       213324.0    4.0   8704.0
367   Honda  White        34822.0    4.0  14613.0
368  Toyota    Red       180473.0    4.0   6568.0
369     NaN  White       133069.0    3.0   5008.0
370   Honda  White        71283.0    4.0   7497.0
371     NaN   Blue        23545.0    4.0  13932.0
372   Honda    NaN       178774.0    4.0  15047.0
373  Toyota   Blue       112223.0    4.0   4753.0
374  Toyota   Blue       198570.0    4.0  17284.0
375  Toyota  White       214493.0    4.0  12434.0
376  Nissan  White        64362.0    4.0  28993.0
377   Honda   Blue       104304.0    4.0  23017.0
378  Nissan   Blue        71527.0    4.0  17961.0
379   Honda  White       220876.0    4.0      NaN
380  Nissan   Blue        76412.0    4.0  13492.0
381  Toyota   Blue       243255.0    4.0   7378.0
382     NaN  White       103728.0    4.0   7061.0
383   Honda  White       144088.0    4.0   5838.0
384   Honda   Blue       196526.0    4.0   6242.0
385   Honda    NaN        89291.0    4.0  13703.0
386  Nissan   Blue        18044.0    3.0  14227.0
387  Nissan  White        88908.0    4.0  22155.0
388   Honda  White        24358.0    4.0  26675.0
389  Toyota  White       175955.0    4.0   7598.0
390  Toyota  White            NaN    4.0   8500.0
391  Toyota  White       177571.0    4.0  14318.0
392  Toyota  White       227387.0    4.0   3895.0
393  Toyota   Blue            NaN    4.0  10834.0
394     BMW   Blue        85320.0    3.0  16517.0
395     NaN  Green        83293.0    4.0  19337.0
396  Toyota  White       210123.0    4.0  11731.0
397  Toyota  White       193629.0    4.0  12745.0
398  Toyota  White            NaN    4.0      NaN

In [57]:
print (pd.DataFrame(transformed_X))

                                                     0
0      (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
1      (0, 0)\t1.0\n  (0, 6)\t1.0\n  (0, 13)\t1.0\n...
2      (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
3      (0, 3)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
4      (0, 2)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
..                                                 ...
995    (0, 3)\t1.0\n  (0, 5)\t1.0\n  (0, 12)\t1.0\n...
996    (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 11)\t1.0\n...
997    (0, 2)\t1.0\n  (0, 6)\t1.0\n  (0, 12)\t1.0\n...
998    (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
999    (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 12)\t1.0\n...

[1000 rows x 1 columns]

In [58]:
car_sales_missing['Doors'].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

### Option 1: Fill missing data with Pandas

In [59]:
# Fill the "Make" column
car_sales_missing['Make'].fillna('missing', inplace=True)

# Fill the 'colour' column
car_sales_missing['Colour'].fillna('missing', inplace=True)

# Fill the "Odometer (KM)" column
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)

# Fill the "Doors" column
car_sales_missing['Doors'].fillna(4, inplace=True)

In [60]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [61]:
# Remove rows with missing price 
car_sales_missing.dropna(inplace=True)

In [62]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [63]:
len(car_sales_missing)

950

In [64]:
X= car_sales_missing.drop('Price', axis=1)
y= car_sales_missing['Price']

In [65]:
# lets's try and convert our data to numbers
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
tranformer = ColumnTransformer([('one_hot',
                                one_hot,
                                categorical_features)],
                              remainder='passthrough')
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

### Option 2: Fill missing values with scikit learn

In [66]:
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [67]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [68]:
car_sales_missing.dropna(subset=['Price'], inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [69]:
# Split into X & y
X = car_sales_missing.drop('Price', axis=1)
y= car_sales_missing['Price']

In [70]:
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [71]:
# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing and numerical values with mean
car_imputer = SimpleImputer(strategy='constant', fill_value='missing')
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

#Define columns
car_features = ['Make', 'Colour']
door_feature = ['Doors']
num_features = ['Odometer (KM)']

# Create an imputer (something that fills missing data)
imputer = ColumnTransformer([
    ('car_imputer', car_imputer, car_features),
    ('door_imputer', door_imputer, door_feature),
    ('num_imputer', num_imputer, num_features)
])

#Transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [72]:
car_sales_filled = pd.DataFrame(filled_X,
                              columns=['Make', 'Colour', 'Doors', 'Odometer (KM)'])
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [73]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [74]:
len(car_sales_filled)

950

In [75]:
# lets's try and convert our data to numbers
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
tranformer = ColumnTransformer([('one_hot',
                                one_hot,
                                categorical_features)],
                              remainder='passthrough')
transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [76]:
# Now we got our data as numers and filled (no missing values)
# let's fit a model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                   y,
                                                   test_size=0.2)
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.21990196728583944

In [77]:
len(car_sales_filled), len(car_sales)

(950, 1000)

### 1. The process of filling in missing values is called imputation
### 2. The process of turning non numerical values into numerical values id called feature engineering

## 2. Choosing the right estimator/algorithm for your problem

Some things to note:
    * Sklearn refers to machine learning models, algorithms as estimators
    * Classification problem = predicting a category (heart disease or not)
        * Sometimes you'll see `clf` (short for classifier) used as a classification estimator
    * Reression problem - predicting a number (selling price of a car)
    
If you're working on a machine learning problem and looking to use Sklearn and not sure what model you should use, refer to the sklearn machine learning map: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

### 2.1 picking a machine learning model for a regression problem
Let's use the California Housing dataset - https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html

In [12]:
# Get California Housing dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [16]:
housing_df = pd.DataFrame(housing['data'], columns = housing ['feature_names'])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [17]:
housing_df['MedHouseVal'] = housing ['target']
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422